<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.24">
    <script>stage(&apos;GIT Repository&apos;) {
          
   build &apos;JFrog_OSS_Repo&apos;
   echo &quot;Please configure GitLab in a new tab&quot;
   
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>