<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.10">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.30">
    <script>stage(&apos;Continous Integration (Integrated Builds)&apos;) {

 
    build &apos;JFrog_2017_1&apos;
    

   //Add Custom Pipeline code here.
    
    
}</script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
</flow-definition>